.grid {
    display:grid;
    grid-template-columns: 67vw 1fr; 
    min-width:100%;
    /* padding:1%; */
    /* max-width:90%; */
    /* margin:2%; */
}

.container {
    border: 2px solid black;
    overflow:auto;
    border-radius:0px;
    max-height:78vh;

}
.right {
    display:flex;
    flex-direction:column;
    /* padding:2%; */
    border: 2px solid black;
    border-left:none;
    /* margin-right:2%; */
    /* background-color:gray; */
    max-height:80vh;

    overflow-y:scroll;
}
body {
    font-family: Arial, Helvetica, sans-serif; 

    margin:0%;
    padding:0% 2%;
    width:94vw;

}
h1 {
    text-align:center;
    position:relative;
}
h2 {
    text-align:center;
    margin:3% 0px;
}

p {
    margin:2% 0%;
    line-height: 140%;
}

.profile {
    background-color:white;
    margin:4%;
    padding:3% 4%;
    border: 2px solid black;
    word-break:break-all;

}
canvas {
    max-width:100%;
    aspect-ratio:auto 1/1;
    min-width:100%;
}

.container::-webkit-scrollbar-button {
    display:none;
}

/* total width */
.container::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
.container::-webkit-scrollbar-track {
    background-color:#fff
}
.container::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4
}

/* scrollbar itself */
.container::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.container::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
.right::-webkit-scrollbar-button {display:none}


.right::-webkit-scrollbar-button {
    display:none;
}

/* total width */
.right::-webkit-scrollbar {
    display:none;

}

/* background of the scrollbar except button or resizer */
.right::-webkit-scrollbar-track {
    display:none;
}
.right::-webkit-scrollbar-track:hover {
    display:none;
}

/* scrollbar itself */
.right::-webkit-scrollbar-thumb {
    display:none;

}
.right::-webkit-scrollbar-thumb:hover {
    display:none;

}

/* set button(top and bottom of the scrollbar) */
.right::-webkit-scrollbar-button {display:none}

.topnav {
    overflow: hidden;
    padding: 20px;
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    color: white;
}
